* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.first,
.second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.imgDiv {
    position: relative;
    width: calc(50% - 60px); /* Adjust according to your design */
    margin: 30px 0; /* Adjust according to your design */
    overflow: hidden;
    object-fit: cover;
}

.img {
    width: 100%;
    height: 60vh;
    background: black;
    object-fit: cover;
}

.imgText {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    position: absolute;
    inset: 0;
    margin-top: 20%;
    background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mainText {
    font-weight: 600;
    font-size: 2.5vw; /* Adjust according to your design */
    margin: 20px;
    padding: 2px 3.5vw; /* Adjust according to your design */
    text-align: center;
    color: white;
}

.mainText span {
    color: rgb(255, 58, 124);
}

.subdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    inset: 0;
    height: 90%;
    background: rgb(255, 0, 85);
    backdrop-filter: blur(100%);
    opacity: 0;
    margin: auto 0%;
    padding: 0px 5vw; /* Adjust according to your design */
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s ease-in, transform 0.5s ease-in-out;
    transform: translate(-100%, 100%);
}

.imgDiv:hover .subdiv {
    opacity: 0.9;
    visibility: visible;
    transform: translate(0%,0%);
}

.title {
    color: white;
    font-size: 2.5vw; /* Adjust according to your design */
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    transform: translateY(100%);
}

.description {
    color: white;
    font-size: 1.5vw; /* Adjust according to your design */
    text-align: center;
    font-weight: 600;
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
    transition-delay: 0.5s;
    opacity: 0;
    transform: translateY(100%);
}

.imgDiv:hover .title,
.imgDiv:hover .description {
    opacity: 1;
    transform: translateY(0%);
}

@media screen and (max-width: 768px) {
    .img{
        height: auto;
    }
    .container{
        padding: 10px 5px;
    }
    .imgDiv {
        width: calc(100% - 20px);
    }
    .mainText{
        font-size: 5vw;
    }
    .title{
        font-size: 5vw;
    }
    .description{
        font-size: 3vw;
    }
    .imgText{
        margin-top: 20%;
    }
}

@media screen and (max-width: 1024px) {
    .img{
        height: 40vh;
    }
}
